body {
  padding-top: 75px;
  background-image: url("images/gradient.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body p {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

body h2 {
  font-size: 35px;
}

#languages i {
  font-size: 8em;
}

#languages i:hover {
  color: white;
}

#contact i {
  font-size: 8em;
}

.page-header img {
  border-radius: 50%;
  height: 175px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.content {
  background-color: rgba(255, 255, 255, 0.25);
  min-height: 60vh;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/*.parallax {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14)),
    url('images/indy.jpg');
  min-height: 75vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

#projects small {
  color: rgba(177, 176, 177, 0.81);
}

#projects a {
  color: rgb(198, 202, 204);
}

.navbar {
  background-color: rgb(0, 0, 0)!important;
}

.navbar a {
  color: white!important;
}

.navbar a:hover {
  background-color: rgba(69, 69, 69, 0.75)!important;
}

.navbar .active > a {
  background-color: rgba(69, 69, 69, 0.75)!important;
}
