body {
  text-align: center;
  background-color: rgb(236, 234, 234)!important;
}
.outer {
  position: absolute;
  top: 2.5vh;
  left: 0;
  width: 100%;
}

hr {
  border: 0;
  height: 30px;
  border-style: solid;
  border-color: #8c8c8c;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8c8c;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
hr:after {
  content: "\2605";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #fff;
}

.main {
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  height: 95vh;
  border: 1px solid;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  display: table;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.pane {
  margin-right: auto;
  display: table-cell;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
}

.left {
  float: left;
  display: inline;
}

.container .row #left img  {
  height: 200px;
}

.right {
  float: right;
  display: inline;
}

.bottom {
  bottom: 0;
  position: absolute;
  width: 95%;
}
.bottom .leftarrow {
  display: inline;
  left: 0;
  float: left;
}
.bottom .rightarrow {
  display: inline;
  right: 0;
  float: right;
}

.pane i {
  font-size: 6em!important;
}

.pane i:hover {
  color: red!important;
}

.bottom a i {
  font-size: 3em!important;
}
.bottom a i:hover {
  color: inherit!important;
}

.top {
  top: 0;
  position: absolute;
}

.top .glyphicon {
  font-size: 2em;
}

#menu {
  display: none;
  position:fixed;
}

#menu ul {
  list-style: none;
}
