body.body {
  text-align: center;
  color: white;
	background:#292e3b;
}
hr {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  color: white;
  border-top: 1px solid white;
}
hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
hr:after {
  content: "\2605";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background-color: #292e3b;
}
h1.header {
  font-size: 5em;
}
h2.secondHead {
  font-size: 2em;
}
p.mainContent {
  font-size: 2em;
}
p a {
  color: rgb(54, 219, 185);
}
p a:hover {
  color: rgb(46, 172, 154);
}
p.secondContent {
  font-size: 1.75em;
  position: relative;
}
p.secondContent a#github-link {
  padding-right: 50px;
}
p.secondContent a .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

p.secondContent a:hover .tooltiptext {
  visibility: visible;
}

#me {
  border-radius: 50%;
  border: 1px solid;
  height: 265px;
}
.vertical-align {
  padding-top: 50px;
  display: flex;
  align-items: center;
}


i {
  font-size: 2.5em;
}


.main #main {
  position: relative;
}
canvas {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 0;
}

@media (max-width: 767px) {
  #me {
    border-radius: 50%;
    border: 1px solid;
    height: 200px;
  }
  .row.vertical-align {
    display: block;
  }
}
