body.body {
  font-family: 'Sarabun', sans-serif;
  text-align: center;
  background-color: rgba(212, 208, 208, 0.29);
}


#cover {
  width: 98.9vw;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 4px 7px 0 rgba(0, 0, 0, 0.24);
  position: relative;
  display: block;
}


#cover {
  color: #454140;
}

#cover p a {
  color: #c1502e;
}

.pane {
  margin-top: 1vh;
  height: 98vh;
}

#cover br {
  line-height: 50px;
}

.content {
  height: 100%;
}

#cover #funko {
  height: 39vh;
  border-radius: 50%;
}

.vertical-align {
  display: flex;
  align-items: center;
}

i {
  font-size: 2.5em;
}

.paragraph {
  overflow: scroll;
}

.pane br {
  line-height: 100px;
}

.section-left {
  float: left;
  display: inline-block;
  width: 50%;
}

.section-left p i {
  color: #587e76;
}


.section-right {
  float: right;
  display: inline-block;
  width: 50%;
  height: 100%;
}

br.separator {
  line-height: 130px;
}

.footer {
  width: 100%;
  bottom: 0;
}

.container-section {
  display: inline-block;
}

@media (max-width: 767px) {
  .row.vertical-align {
    display: block;
  }

  .section-left {
    float: none;
    display: block;
    width: 100%;
  }

  .section-right {
    float: none;
    display: block;
    width: 100%;
  }
}
