body.body {
  font-family: 'Sarabun', sans-serif;
  text-align: center;
  background-color: #454140;
}

hr {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  border-top: 1px solid black;
  color: #563f46;
}

hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-radius: 20px;
  color: #563f46;
}

hr:after {
  content: "\2605";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background-color: #8ca3a3;
  color: #563f46;
}

#cover {
  width: 98.9vw;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 4px 7px 0 rgba(0, 0, 0, 0.24);
  position: relative;
  display: block;
  color: #484f4f;
  background-color: #8ca3a3;
}

#cover p a {
  color: #bd5734;
}

.pane {
  margin-top: 1vh;
  min-height: 98vh;
  overflow: auto;
}

#cover br {
  line-height: 50px;
}

.content {
  height: 100%;
}

#cover #funko {
  height: 39vh;
  border-radius: 50%;
}

.vertical-align {
  display: flex;
  align-items: center;
}

i {
  font-size: 2.5em;
}

h5#contact {
  text-decoration: underline;
  color: #7e4a35;
}

@media (max-width: 767px) {
  .row.vertical-align {
    display: block;
  }

}
